.App {
  text-align: left;
  margin: 10px;
  padding: 0%;
}
.App-header {
  background-color: #582588;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
}
.App-header .App-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.App-link {
  color: #61dafb;
}
.especial {
  color:#25cefd;
}
