.App {
  text-align: left;
  margin: 10px;
  padding: 0%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*.App h2, h1{
  background-color: #582588;
  color: white;
  text-align: center;
}*/
#especial {
  color:#25cefd;
}
ul.list-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    color: #7364af;
    border-bottom: 1px dotted black;
    font-size: 18px;
}
ul.list-style li{
  text-align: center;
  width: 100%
  
}